* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/mainback1.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
}

.card {
    width: 90%;
    max-width: 470px;
    background: hsla(356, 76%, 50%, 1);
    background: linear-gradient(90deg, hsla(356, 76%, 50%, 1) 20%, hsla(14, 63%, 36%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(356, 76%, 50%, 1) 20%, hsla(14, 63%, 36%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(356, 76%, 50%, 1) 20%, hsla(14, 63%, 36%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E01F2D", endColorstr="#943C22", GradientType=1);
    color: #fff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 20px;

}

.search button {
    border: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;

}

.search button img {
    width: 30px;
}

.weathericon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 600;
}

.weather h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 70px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}